@import "_reset.scss";
@import "_mixins.scss";
@import "_animations";
@import "_grid";
@import "_layout.scss";

/*------------------------------------*\
    # Simple Typography Settings
\*------------------------------------*/

// Font Family
$font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Base Font for HTML
$base-font-size: 16px;

// Paragraph Styles
$paragraph-color      : #333333;
$paragraph-size       : rem(17px);
$paragraph-line-height: 1.5em;
$paragraph-margin     : 20px;

// Header Styles
$header-color      : #333333;
$header-size       : rem(40px);
$header-line-height: 1.25em;
$header-margin     : $paragraph-margin * 1.2;

// Blockquote Styles
$blockquote-color      : #505050;
$blockquote-size       : rem(23px);
$blockquote-line-height: 1.5em;
$blockquote-margin     : $paragraph-margin * 1.5;

// Links
$link-color: #4eaff6;

// hr
$hr-margin: 30px;

// Type Misc
$font-weight-bold: 800;
$border-color: #DADADA;





/*------------------------------------*\
    # Type
\*------------------------------------*/

// Make type normal across browsers
*, html, body {
    font-size: $base-font-size;
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


// Headers
h1, h2, h3, h4, h5, h6 {
    margin: $header-margin * 1.5 0 $header-margin 0;
    color: $header-color;
    line-height: $header-line-height;
    font-weight: 400;
}

h1 {
    font-size: $header-size;
}

h2 {
    font-size: $header-size / 1.3;
}

h3 {
    font-size: $header-size / 1.5;
}

h4 {
    font-size: $header-size / 1.7;
}

h5 {
    font-size: $header-size / 1.8;
}

h6 {
    font-size: $header-size / 2;
}



// Paragraphs
p {
    margin-top: $paragraph-margin;
    font-size: $paragraph-size;
    line-height: $paragraph-line-height;
    color: $paragraph-color;

    &:first-of-type {
        margin-top: 0;
    }
}



// Links
a {
    color: $link-color;
    text-decoration: none;
    @include transition(all .2s ease);

    &:hover {
        color: darken($link-color, 10%);
    }
}


// Lists
ul, ol {
    margin: $paragraph-margin 0 0 20px;

    li {
        margin-top: 10px;
        line-height: $paragraph-line-height;
        color: $paragraph-color;
    }

    ul, ol {
        margin-top: 0;
    }
}

ul {

    li {
        list-style: disc;
    }

    ul {

        li {
            list-style: circle;
        }
    }
}

ol {

    li {
        list-style: decimal;
    }
}


// hr
hr {
    height: 1px;
    margin: $hr-margin 0;
    border: none;
    background-color: $border-color;
}


// Blockquote
blockquote {
    margin: $blockquote-margin 0;
    font-size: $blockquote-size;
    line-height: $blockquote-line-height;
    color: $blockquote-color;
    text-align: center;
    font-style: italic;
}


// Tables
table {
    width: 100%;
    margin: $blockquote-margin 0;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid $border-color;
    text-align: left;
}

th {
    font-weight: $font-weight-bold;
}

th, td {
    padding: 15px;
}


// Figure
figure {
    margin: $blockquote-margin 0;

    img {
        margin: 0;
    }
}

figcaption {
    margin-top: 10px;
    color: lighten($paragraph-color, 10%);
    font-size: $paragraph-margin * 0.8;
}


// Code
pre {
    display: block;
    margin: 0 0 40px 0;
    padding: 20px;
    background-color: lighten($border-color, 12%);
    border: 1px solid $border-color;
    overflow: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    code {
        position: static;
        padding: 0;
        border: none;
        line-height: 1.5em;
    }
}

code {
    position: relative;
    top: -0.2em;
    padding: 3px;
    font-family: Courier New, Courier, monospace;
    font-size: $paragraph-size / 1.4;
    color: darken($border-color, 40%);
    line-height: 1em;
    pointer-events: none;
    border: 1px solid $border-color;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}



// Misc Styles
em, i, .italic {
    font-style: italic;
}

strong, b, .bold {
    font-weight: $font-weight-bold;
}

img {
    display: block;
    max-width: 100%;
    margin: $blockquote-margin 0;
}


// Sections
header {
  height: 60vh;
  padding: 5vh 5vw 2vh 5vw;
  background-repeat: no-repeat;
  background-position: left top;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  background-image: linear-gradient(315deg, rgba(67, 83, 255, 0) 40%, rgba(67, 83, 255, .25));

  h1, h2, p {
    animation: fade 2s;
    color: rgba(255, 255, 255, 0.8);
  }

  h1 {
    padding-top: 5vh;
    text-transform: uppercase;
    font-size: $header-size * 1.2;
    line-height: $header-line-height;
    color: rgba(255, 255, 255, 1);
  }
}

#app {
  margin-top: 1rem;

  .category {

    h3 {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    p {
      font-style: italic;
      color: #777777;
    }

    .box {
      margin: 0.5rem;
      padding: 1rem;
      background-color: #f3f3f3;
    }

    .container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin: 1vh auto;
      padding: 0 2vw;
      justify-content: flex-start;
    }

    .checkbox {
      width: 100%;
      margin: -5px 0;
    }

  }

  .category-task {
    .checkbox {
      width: 50%;
    }
  }

  .results {
    padding: 0.5rem 1rem;
    margin: 0.5rem auto;
  }
}

.article {
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: rgba(242, 242, 242, 0.5);
  }
}

.list-enter-active, .list-leave-active {
  transition: all 200ms;
}
.list-enter, .list-leave-to /* .list-leave-active for <2.1.8 */ {
  opacity: 0;
  transform: translateX(10px);
}

.article.detail {
  padding: 0;
  cursor: auto;
  &:hover {
    background-color: transparent;
  }
}

.article-title {
  margin-bottom: 5px;
  margin-top: 10px;
}

.article-info-wrapper {
  display: flex;
}

.article .list {
  display: flex;
  align-items: flex-start;
  font-size: 0.9em;
  color: rgba(0, 0, 0, .5);
  margin-bottom: 5px;

  span {
    margin-right: 10px;
    line-height: 1.5em;
  }

  ul {
    display: flex;
    margin: 0;
    flex-wrap: wrap;

    li {
      margin: 0 5px 0 0;
      list-style: none;
      text-transform: capitalize;

      &:not(:last-child):after {
        content: ", ";
      }
    }
  }
}

.article-desc {
  padding-top: 1rem;
  color: rgba(0, 0, 0, .9);
}

.article-link {
  padding-top: 2rem;
  cursor: pointer;
}

.article-authors {
  color: rgba(0, 0, 0, .8);
  font-size: 0.9em;

  li.author {
    color: rgba(0, 0, 0, .8);
    font-style: italic;
  }
}

.keyword {
  color: rgba(0, 0, 0, .5);
}

.tag {
  padding: 2px 5px;
  font-size: 0.8em;
  font-weight: 300;
  border-radius: 20px;
  background-color: #edf2f7;
  color: #75818f;
}

.green {
  color: #137752;
}

.purple {
  color: #7d75d9;
}
